debug 1

rule default
  acct on
  limits t10r20
  umask 002
  env - USER LOGNAME HOME PATH LOGIN_FINGERPRINT LOGIN_EMAIL LOGIN_NAME
  fall-through

rule login_fingerprint
  command ^login_fingerprint$
  set[0] /bin/login_fingerprint

rule login_email
  command ^login_email$
  set[0] /bin/login_email

rule login_name
  command ^login_name$
  set[0] /bin/login_name
